<div class="masthead">
  <nav class="language-nav">
    <ul>
      
      <li> <a href="#">css</a></li>
      <li> <a href="#">HTML</a></li>
      <li> <a href="#">javascript</a></li>
      <li> <a href="#">ruby</a></li>

    </ul>
    </nav>
    <img class= "logo" src="/assets/AA_Times_Logo.png">
    <ul class= "masthead-links">
      <li class="date-label"> Tuesday, October 18, 2016</li>
      <li> <i class="fa fa-newspaper"></i> <a href="#">Today's Paper</a></li>
      <li> <i class="fa fa-video"></i> <a href="#">Video</a></li>
      <li> <button>   77°F</button></li>
      <li> 
        <button> AAO  <strong> +100%</strong></button>
      </li>
    </ul>
</div>