.main-nav {
  display:flex;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid $light-gray;
}

.left-nav > ul,
.right-nav > ul {
  display:flex;
  align-items: center;
}

.left-nav {

  > ul {
    > li {
      font-family: $sans-serif;
      font-size: 12px;
      text-transform: capitalize;
      padding: 5px 18px;
    }
  }

  span {
    margin-left: 5px;
    text-transform: uppercase;
    font-family: $sans-serif;
    font-weight: bold;
    font-size: smaller;
  }

  i {
    font-size: smaller;
  }
}

.right-nav  {
  
  > ul {
    
    > li {
      padding: 0px 2px;
    }
    
    > li:last-of-type {
    }
  }
  
  i {
    
  }
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {
  background-color: $lightest-gray;
}

