.sections-list {
  display:flex;
  justify-content: center;
  align-items: center;
}

.sections-list > li {
  padding: 5px 10px;
}

.sections-list > li > a {
  text-decoration: none;
}

.sections-list > li:hover > a{
  background-color: $light-gray;
}

.sections-list > li:last-child:hover > a{
  background-color: white;
}

#all-link:hover {
  text-decoration: underline;
}

#all-link {
  font-size: smaller;
}

.sections-nav {
  border-bottom: 1px solid $light-gray;
}